In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('../'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [1]:
import pandas as pd

In [2]:
import os

In [7]:
folders = os.listdir()

In [14]:
folders

['Derivative', 'GradBoosting', 'LSM', 'Mesh', 'RandomForest']

In [23]:
import glob
path = os.getcwd()

In [24]:
path

'C:\\Users\\Majdi\\Dropbox\\MSc thesis\\Simulations\\Main\\Bid_ask_european_call_1_dim'

In [37]:
SEP = os.sep.join('/')

In [47]:
for folder in folders:
    filename = glob.glob(path + SEP + folder + '/*.csv')
    print (filename[-1])

C:\Users\Majdi\Dropbox\MSc thesis\Simulations\Main\Bid_ask_european_call_1_dim/Derivative\output_derivative.csv

IndexError: list index out of range

In [117]:
dfs = {}

for folder in folders:
    filename = glob.glob(path + SEP + folder + '\*.csv')
    print (filename)
    if len (filename) > 0 : 
        dfs[folder] = pd.read_csv(filename[0], index_col=False)

['C:\\Users\\Majdi\\Dropbox\\MSc thesis\\Simulations\\Main\\Bid_ask_european_call_1_dim/Derivative\\output_derivative.csv']
[]
['C:\\Users\\Majdi\\Dropbox\\MSc thesis\\Simulations\\Main\\Bid_ask_european_call_1_dim/LSM\\output_lsm.csv']
['C:\\Users\\Majdi\\Dropbox\\MSc thesis\\Simulations\\Main\\Bid_ask_european_call_1_dim/Mesh\\output_mesh.csv']
['C:\\Users\\Majdi\\Dropbox\\MSc thesis\\Simulations\\Main\\Bid_ask_european_call_1_dim/RandomForest\\output_rf.csv']

In [118]:
result_df = pd.DataFrame(columns=['expected', 'mean', 'std', '95% confidence interval'])
result_df

Empty DataFrame
Columns: [expected, mean, std, 95% confidence interval]
Index: []

In [121]:
test = dfs['LSM']
test

,Unnamed: 0,Parameters,Specific Parameters,run,stat parameter,time,values
0,0,q,NaN,NaN,NaN,NaN,0.0
1,1,mu,NaN,NaN,NaN,NaN,0.06
2,2,R,NaN,NaN,NaN,NaN,0.06
3,3,r,NaN,NaN,NaN,NaN,0.04
4,4,sigma,NaN,NaN,NaN,NaN,0.2
5,5,T,NaN,NaN,NaN,NaN,0.5
6,6,K,NaN,NaN,NaN,NaN,100.0
7,7,S0,NaN,NaN,NaN,NaN,100.0
8,0,NaN,N_particles,NaN,NaN,NaN,100000
9,1,NaN,m_discretization,NaN,NaN,NaN,12
10,2,NaN,N_run,NaN,NaN,NaN,20
11,3,NaN,n_picard,NaN,NaN,NaN,20
12,4,NaN,polynomial degree,NaN,NaN,NaN,8
13,0,NaN,NaN,run 1,NaN,18.079,7.151199992593997
14,1,NaN,NaN,run 2,NaN,14.922,7.188828857501222
15,2,NaN,NaN,run 3,NaN,14.487,7.142290549795476
16,3,NaN,NaN,run 4,NaN,14.350,7.120731997644238
17,4,NaN,NaN,run 5,NaN,13.214,7.209340663927478
18,5,NaN,NaN,run 6,NaN,12.927,7.224226432927438
19,6,NaN,NaN,run 7,NaN,13.418,7.188252171465339
20,7,NaN,NaN,run 8,NaN,12.880,7.179185018468533
21,8,NaN,NaN,run 9,NaN,17.001,7.158042146583618
22,9,NaN,NaN,run 10,NaN,21.086,7.200084326315738
23,10,NaN,NaN,run 11,NaN,12.950,7.130206054661128
24,11,NaN,NaN,run 12,NaN,12.923,7.104888014980865
25,12,NaN,NaN,run 13,NaN,13.128,7.090721092033565
26,13,NaN,NaN,run 14,NaN,21.236,7.132794679452121
27,14,NaN,NaN,run 15,NaN,18.226,7.178722140712304
28,15,NaN,NaN,run 16,NaN,13.165,7.137118108643595
29,16,NaN,NaN,run 17,NaN,13.108,7.106844865334408
30,17,NaN,NaN,run 18,NaN,24.199,7.133945895924115
31,18,NaN,NaN,run 19,NaN,14.514,7.13937385569633
32,19,NaN,NaN,run 20,NaN,21.677,7.188944850313048
33,0,NaN,NaN,NaN,mean,NaN,7.1553
34,1,NaN,NaN,NaN,std,NaN,0.0375
35,2,NaN,NaN,NaN,95% confidence interval,NaN,"[7.1516, 7.159]"
36,3,NaN,NaN,NaN,min,NaN,7.0907
37,4,NaN,NaN,NaN,max,NaN,7.2242

In [62]:
link = lamba x: df[-1]

SyntaxError: invalid syntax (<ipython-input-62-87aab24fbe67>, line 1)

In [84]:
params = test['Parameters'].dropna()

In [134]:
params = test[['Parameters', 'values']].dropna()

In [128]:
dfs_stats=[]
for key, df in dfs.items(): 
    df = df[['stat parameter', 'values']].dropna()
    dfs_stats.append(pd.DataFrame(data = df))
dfs_stats.append(params)
dfs_stats = pd.concat(dfs_stats, keys = dfs.keys())

In [129]:
dfs_stats

                          stat parameter            values
LSM          33                     mean            7.1553
             34                      std            0.0375
             35  95% confidence interval   [7.1516, 7.159]
             36                      min            7.0907
             37                      max            7.2242
Mesh         32                     mean            7.1875
             33                      std            0.1387
             34  95% confidence interval  [7.1739, 7.2011]
             35                      min            6.9085
             36                      max            7.4492
Derivative   35                     mean            7.1779
             36                      std            0.3088
             37  95% confidence interval  [7.1476, 7.2082]
             38                      min            6.7418
             39                      max            7.7752
RandomForest 34                     mean            7.2331
             35                      std            0.0979
             36  95% confidence interval  [7.2235, 7.2427]
             37                      min            7.0684
             38                      max            7.4308

In [130]:
with open('results_comparison.csv', 'w') as handle: 
    dfs_stats.to_csv(handle)
    params.to_csv(handle)

In [56]:
result_df = pd.DataFrame(['expected', 'mean', 'std', '95% confidence interval'])
for key, df in dfs.items():

LSM
Mesh
Derivative
RandomForest

In [4]:
N = 100000
m = 6
RF_n_trees = 20
RF_max_leaf_nodes = 10
M_run = 20
n_picard = 10

In [5]:
start = time.time()
a = np.zeros(M_run)
for i in range(M_run):
    start = time.time()
    test = BSDE(S0, K, T, mu, sigma, q)
    a[i] = test.get_price_lsm(R, r, N, m, n_picard=n_picard)
    elapsed = time.time() - start
print(a.mean())

7.23915042094